{% extends 'base.html' %}

{% load staticfiles %}

{% load compress %}

{% block template_css %}
    <!-- Construction Style -->
    <link href="{% static 'css/construction_style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <div class="content">
        <div class="content-grid">
            <h1>UNDER CONSTRUCTION</h1>
            <h2> We are hard at work building, check back soon!<br/><br/>
            While you wait check out all the detail of this project on the About page!</h2>
        </div>
    </div>


    {% compress js %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/owl.carousel.js' %}"></script>
        <script src="{% static 'js/wow.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    {% endcompress %}

{% endblock %}