
{% extends 'base.html' %}

{% load staticfiles %}

{% load compress %}

{% block body %}
    <body>
        <div class="top-bar-agile">
            <div class="logo-agileits">
                <a href="#"><img src="base/img/logo.png" alt=" " /></a>
            </div>

            <div class="clear"></div>
        </div>
        <div class="content-w3">
            <h1>404</h1>
            <h2>THE PRINTER'S NOT WORKING!</h2>
            <p>The page you are looking for has been removed, had its name changed or temporarily unavailable</p>
        </div>
    </body>
{% endblock %}
