
{% extends 'base.html' %}

{% load staticfiles %}

{% load compress %}

{% block template_css %}
    <!-- 404 style -->
    <link href="{% static 'css/404_style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <body>
        <div class="content-w3">
            <h1>404</h1>
            <h2>THE PRINTER'S NOT WORKING!</h2>
            <p>The page you are looking for has been removed, had its name changed or temporarily unavailable</p>
        </div>
    </body>
{% endblock %}
